.welcome-section {
    background: url("~images/bg/MountainBaloon.png") center top /  cover no-repeat;
    padding-bottom: 200px;
}
section.values {
    background: url("~images/bg/rukzak.png") center left no-repeat ;
    height: 100vh;
}